<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>날짜</th>
      <th>조회수</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>:{{ number }}</td>
      <td>:{{ title }}</td>
      <td>:{{ writer }}</td>
      <td>2016.12.02</td>
      <td>2</td>
    </tr>
    <tr>
      <td>164</td>
      <td>이제 곧 뷰투수투렙 3 가 나온다며?</td>
      <td>운영자</td>
      <td>2016.12.01</td>
      <td>2</td>
    </tr>
    <tr>
      <td>163</td>
      <td>이제 곧 뷰투수투렙 2 가 나온다며?</td>
      <td>운영자</td>
      <td>2016.12.01</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
<a
  href="writeboard"
  style="
color: black;
font-size: 2.0em;
font-weight: bold;
"
>
  글쓰기
</a>
