<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
    </tr>
  </thead>
  <tbody *ngFor="let boards of boards; let i = index">
    <tr>
      <td
        class="PM_CL_btnServiceMore an_btn_more an_fold"
        data-toggle="collapse"
        href="#multiCollapseExample1"
        role="button"
        aria-expanded="true"
        aria-controls="multiCollapseExample1"
      >
        {{ i + 1 }}
      </td>

      <td
        class="PM_CL_btnServiceMore an_btn_more an_fold"
        data-toggle="collapse"
        href="#multiCollapseExample1"
        role="button"
        aria-expanded="true"
        aria-controls="multiCollapseExample1"
      >
        {{ boards.title }}
      </td>
      <td
        class="PM_CL_btnServiceMore an_btn_more an_fold"
        data-toggle="collapse"
        href="#multiCollapseExample1"
        role="button"
        aria-expanded="true"
        aria-controls="multiCollapseExample1"
      >
        {{ boards.writer }}
      </td>
    </tr>
    <li>
      <div class="form-group" x-placement="bottom-start">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              {{ boards.context }}
            </div>
          </div>
        </div>
      </div>
    </li>
  </tbody>
</table>
<a
  href="writeboard"
  style="
  color: black;
  font-size: 2.0em;
  font-weight: bold;
  "
>
  글쓰기
</a>
