<form (ngSubmit)="onWriteBoard()">
  <input
    class="form-control"
    type="text"
    [(ngModel)]="title"
    title="제목을 입력해 주세요!"
    maxlength="29"
    id="title"
    name="title"
    value=""
  />
  <input
    type="text"
    [(ngModel)]="context"
    name="context"
    class="form-control"
    style="height: 284px; font-family: Gulim, sans-serif; font-size: 10pt; background: darkgray;"
    onfocus="if (parent.mwCore) {parent.mwCore.focusOnEditor();}"
    contenteditable="true"
  />
  <p><br /></p>

  <input type="submit" class="btn btn-primary" value="작성완료" />
</form>

<!--
  <input
  type="text"
  title="제목을 입력해 주세요!"
  maxlength="29"
  id="m_txtTitle"
  name="m_txtTitle"
  value=""
/>
<body
  class="se2_inputarea"
  style="height: 284px; font-family: Gulim, sans-serif; font-size: 10pt; background: darkgray;"
  onfocus="if (parent.mwCore) {parent.mwCore.focusOnEditor();}"
  contenteditable="true"
>
  <p><br /></p>
</body>
<button
  type="button"
  id="sendBtn"
  class="b do_send _c1(mwCore|sendMail) _ccr(wrt.send) _stopDefault save_mail"
>
  x
</button>
--->
