<div class="container">
  <!----전체오브젝트를 감싸는 div-->
  <div class="container text-center">
    <div class="ppap">
      &nbsp;
      <div class="logindiv">
        <h2 class="page-header text-center">로그인</h2>

        <p>minecraft 서버를 이용하시려면 계정을 사용하세요.</p>

        <form (ngSubmit)="onLoginSubmit()">
          <div class="form-group text-left">
            <label>닉네임</label>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="username"
            />
          </div>
          &nbsp;
          <div class="form-group text-left">
            <label>비밀번호</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="password"
            />
          </div>
          <p></p>
          &nbsp;
          <button type="submit" class="btn btn-block btn-primary btn-lg ">
            로그인
          </button>
          &nbsp;
          <div class="doyonknow">
            <p class="already">
              계정이 없으신가요?
              <a class="alink" routerLink="/register"
                >여기에서 계정을 등록하세요!</a
              >
            </p>
          </div>
          &nbsp;
          <!--input type="submit" class="btn btn-primary" value="Login"/!-->
        </form>
      </div>

      <div class="contactus">
        <div>&nbsp;</div>
        혹시 귀하의 계정에 문제가 발생했다면 저희에게 연락해주세요!
        <p>minecraft7777@google.com</p>
      </div>
    </div>
  </div>
</div>
