<h2 class="page-header">인증서 발급</h2>
<form (ngSubmit)="onCertRequest()">
      <div class="form-group">
            <label> Common Name (이름) - 이름은 username과 같아야 하며 자동 입력됩니다. </label>
            <input type="text" [(ngModel)]="common" name="common" class="form-control" disabled>
          </div>
      <div class="form-group">
            <label> Organizational Unit Name (부서) </label>
            <input type="text" [(ngModel)]="orgUnit" name="orgUnit" class="form-control">
          </div>
      <div class="form-group">
            <label> Organization Name (기관) </label>
            <input type="text" [(ngModel)]="organization" name="organization" class="form-control">
          </div>
      <div class="form-group">
            <label> Locality Name (도시) </label>
            <input type="text" [(ngModel)]="locality" name="locality" class="form-control">
          </div>
      <div class="form-group">
            <label> State or Province Name (지역) </label>
            <input type="text" [(ngModel)]="state" name="state" class="form-control">
          </div>
      <div class="form-group">
            <label> Country (국가) </label>
            <input type="text" [(ngModel)]="country" name="country" class="form-control">
          </div>
      <input type="submit" class="btn btn-primary" value="인증서 발급 요청">
</form>