.row {
  max-width: 1100px;
  margin-left: 180px;
  margin-top: -197px;
  position: relative;
  margin: auto;
}

.btn:hover {
  position: relative;
  opacity: 0.8;

  min-width: 50px;
  max-width: 300px;
}
.btn:after {
  background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -soz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: bottom 0.5s ease, opacity 0.5s ease;
  -moz-transition: bottom 0.5s ease, opacity 0.5s ease;
  transition: bottom 0.5s ease, opacity 0.5s ease;
  color: #181212;
  font-size: 12px;

  padding: 7px 12px;
  position: absolute;
  //margin-bottom: 10px;
  width: 250px;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;
  color: white;
  //z-index: 9999;
  opacity: 0;
  top: 92%;
  margin-left: -135px;
  content: attr(text);
}
.btn:hover::after {
  top: 130%;
  left: 0;
  opacity: 1;
  margin-left: -80px;
}

.alert {
  margin-top: 100px;
  text-align: center;
  max-width: 380px;
  height: 110px;
  border-radius: 15px;
  padding: 1.5em 0.6em 0.3em;
  font-size: 20px;
  font-weight: bolder;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 1px 1px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 1px 1px 3px 1px rgba(50, 50, 50, 0.4);
  transition: background-color 0.7s ease;
  background: rgb(92, 207, 97);
  color: white;
  margin-left: 80px; //구매 버튼 x위치
  margin-top: 215px;
}
.alert:hover {
  background-color: rgb(0, 0, 0) !important;
  opacity: 0.8;
  transition: background-color 0.7s ease, font-size 0.7s linear;

  color: white;
  transition: color 0.7s ease, font-size 0.7 linear;
  transition: width 0.9s ease, font-size 0.9 linear;
  transition: height 0.9s ease, font-size 0.9 linear;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(8, 8, 8, 0.4);
  -moz-box-shadow: 1px 1px 3px 1px rgba(19, 18, 18, 0.4);
  box-shadow: 1px 1px 3px 1px rgba(20, 20, 20, 0.4);
}

.trash {
  font-size: 14px;
  font-weight: bolder;
}
.card {
  //after하면 아래로 내려가고 배너div를 넘어감
  margin-left: 485px;
  margin-top: -170px;
  height: 500px;
}
.col-md-8 {
  //margin-top: 205px; //하단 상자 길이조절
}
.bd-example {
  max-width: 2500px;
  margin: 0 auto;
}

.w-100 {
  height: 220px;
}
.w-100:hover {
  -webkit-box-shadow: 2px 2px 3px 2px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 2px 2px 3px 2px rgba(50, 50, 50, 0.4);
  box-shadow: 2px 2px 3px 2px rgba(50, 50, 50, 0.4);
  transition: box-shadow 0.5;

  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  transition: box-shadow 0.5s;
  -moz-box-shadow-delay: 0.5s;
  -webkit-box-shadow-delay: 0.5s;
}

.col-md-4 {
  max-height: 999999999999999999999999999999999999999999999999px;
  max-width: 688px;
}

.card:hover {
  -webkit-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.4);
  box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.4);
  transition: box-shadow 0.5;

  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  transition: box-shadow 0.5s;
  -moz-box-shadow-delay: 0.5s;
  -webkit-box-shadow-delay: 0.5s;
}
.carousel {
  max-width: 1100px;
  margin: 0 auto;
}
.d-block {
  height: 600px;
  margin-top: 110px;
}

.abcd {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 9px;
}
.subtitle {
  margin: 0 auto;
  background: rgb(55, 56, 53);
}

.carousel-caption {
  height: 570px;
  margin: 0 auto;
}
//.container {
//margin: 0 auto;
//}
.carousel-control-prev-icon {
  //스크린샷 버튼
  background-color: rgb(245, 18, 75);
}
.carousel-control-next-icon {
  //스크린샷 버튼
  background-color: rgb(245, 18, 75);
}
.aaaa {
  margin-top: 130px;
  display: inline-block;
}

.container {
  background-color: rgb(68, 55, 80);
  max-width: 9999px;
  height: 100%; //높이를 px고정된 수치가 아닌 %로 지정하여 배너공백 해결
  //범위 테스트용 중간div 크기맞춤  대신 하단 배너에 공백 발생
}
.vava2 {
}
.card-body {
}
