.dropdown:hover .dropdown-menu {
  display: block; //드랍다운 자동펼치기
  opacity: 0.8;
  padding: 0 0px;
  line-height: 7px;
  font-size: 13px;
  text-align: center;
  position: relative;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.13);
}
.nav-link:hover {
  //메뉴 글자 애니메이션 효과
  color: rgb(67, 187, 43) !important;
  opacity: 0.8;
  transition: color 0.3s ease, font-size 0.3s linear;
}

.nav-link {
  color: white;
  opacity: 0.8;
  transition: color 0.3s ease, font-size 0.3s linear;
}

.dropdown-item:hover {
  //메뉴 글자 애니메이션 효과
  background-color: rgba(106, 122, 209, 0) !important;
  color: rgba(255, 255, 255, 0.986) !important;
  font-size: 14px;
  transition: 0.5s;
}
.dropdown-item {
  font-family: "Noto Sans TC", sans-serif;
  margin-top: 6px;
  margin-bottom: 6px;
  transition: 0.5s;
  color: greenyellow;
}

.nav-item {
  margin-top: -11px;
  font-size: 16px;
  margin-left: 45px; //메뉴 창 축소시 조절부분
  margin-right: 35px; //메뉴 창 축소시 조절부분
  font-family: "Noto Sans TC", sans-serif;
}

.img {
  margin-top: -7px;
  height: 60px;
  transition: 0.6s;
}

.img:hover {
  height: 66px;
  transition: 0.6s; //이미지 애니메이션 효과
}

.maindiv {
  //네비바 div
  background: rgb(31, 32, 31);
  max-height: 100px;
  position: fixed; //메뉴가 스크롤을 따라서 이동함
  z-index: 2;
  width: 100%;
}
