<div class="maindiv">
  &nbsp;
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link  text-white" href="/">서비스안내</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="/">서버현황</a>
    </li>

    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle text-white"
        role="button"
        aria-expanded="false"
        aria-haspopup="true"
        href="#"
        data-toggle="dropdown"
      >
        게시판
      </a>
      <div
        class="dropdown-menu"
        style="left: 0px; top: 1px; position: absolute; transform: translate3d(-36px, 34px, 0px);"
        x-placement="bottom-start"
      >
        <a class="dropdown-item" routerLink="/board">자유게시판</a>
      </div>
    </li>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <!---간격을 위한 공백-->

    <img
      src="../../../assets//Minecraft-Logo-500x281.jpg"
      class="img"
      onclick="location.href='/'"
    />

    <li class="nav-item">
      <a class="nav-link  text-white" href="/payshop"
        >&nbsp;&nbsp;&nbsp;Payshop</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link text-white" href="/">정책</a>
    </li>

    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle text-white"
        role="button"
        aria-expanded="false"
        aria-haspopup="true"
        href="#"
        data-toggle="dropdown"
        >계정메뉴</a
      >
      <div
        class="dropdown-menu"
        style="left: 0px; top: 1px; position: absolute; transform: translate3d(-27px, 34px, 0px);"
        x-placement="bottom-start"
      >
        <a class="dropdown-item " routerLink="/register">회원가입</a>
        &nbsp;
        <a class="dropdown-item " routerLink="/login">로그인</a>
      </div>
    </li>
  </ul>
  &nbsp;
</div>
