&nbsp;
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link  text-dark" href="/">메뉴1 </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" href="/">메뉴2</a>
  </li>

  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle text-dark"
      role="button"
      aria-expanded="false"
      aria-haspopup="true"
      href="#"
      data-toggle="dropdown"
      >게시판</a
    >
    <div
      class="dropdown-menu"
      style="left: 0px; top: 1px; position: absolute; transform: translate3d(-37px, 34px, 0px);"
      x-placement="bottom-start"
    >
      <a class="dropdown-item text-success" routerLink="/community"
        >자유게시판</a
      >
    </div>
  </li>

  &nbsp;&nbsp;&nbsp;&nbsp;

  <img
    src="../../../assets//Minecraft-Logo-500x281.jpg"
    class="img-responsive"
    onclick="location.href='/'"
  />

  <li class="nav-item">
    <a class="nav-link  text-dark" href="/">&nbsp;&nbsp;&nbsp;메뉴4</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" href="/">메뉴5</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" href="/">메뉴6</a>
  </li>
</ul>
&nbsp;
